<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="steveros">
  <xacro:arg name="use_mock_hardware" default="true"/>

  <!-- Official KBot 20-DOF model from kscalelabs/kbot-models -->
  <xacro:include filename="$(find steveros_description)/urdf/kbot.urdf"/>

  <!-- ros2_control hardware interface configuration -->
  <xacro:include filename="$(find steveros_description)/urdf/steveros_ros2_control.xacro"/>
</robot>
