<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <ros2_control name="steveros_kbot" type="system">
    <hardware>
      <xacro:if value="$(arg use_mock_hardware)">
        <plugin>mock_components/GenericSystem</plugin>
        <param name="mock_sensor_commands">false</param>
        <param name="state_following_offset">0.0</param>
      </xacro:if>
      <xacro:unless value="$(arg use_mock_hardware)">
        <plugin>steveros_hardware/SteveROSHardware</plugin>
        <param name="can_interface">can0</param>
      </xacro:unless>
    </hardware>

    <!-- ==================== RIGHT ARM ==================== -->

    <joint name="dof_right_shoulder_pitch_03">
      <param name="motor_id">21</param>
      <param name="sign">1</param>
      <param name="zero_offset_deg">0</param>
      <command_interface name="position">
        <param name="min">-3.490658</param>
        <param name="max">1.047198</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="dof_right_shoulder_roll_03">
      <param name="motor_id">22</param>
      <param name="sign">1</param>
      <param name="zero_offset_deg">0</param>
      <command_interface name="position">
        <param name="min">-1.658063</param>
        <param name="max">0.436332</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="dof_right_shoulder_yaw_02">
      <param name="motor_id">23</param>
      <param name="sign">1</param>
      <param name="zero_offset_deg">0</param>
      <command_interface name="position">
        <param name="min">-1.671886</param>
        <param name="max">1.671886</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="dof_right_elbow_02">
      <param name="motor_id">24</param>
      <param name="sign">1</param>
      <param name="zero_offset_deg">0</param>
      <command_interface name="position">
        <param name="min">0</param>
        <param name="max">2.478368</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="dof_right_wrist_00">
      <param name="motor_id">25</param>
      <param name="sign">1</param>
      <param name="zero_offset_deg">0</param>
      <command_interface name="position">
        <param name="min">-1.378810</param>
        <param name="max">1.378810</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <!-- ==================== LEFT ARM ==================== -->

    <joint name="dof_left_shoulder_pitch_03">
      <param name="motor_id">11</param>
      <param name="sign">1</param>
      <param name="zero_offset_deg">0</param>
      <command_interface name="position">
        <param name="min">-1.047198</param>
        <param name="max">3.490658</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="dof_left_shoulder_roll_03">
      <param name="motor_id">12</param>
      <param name="sign">1</param>
      <param name="zero_offset_deg">0</param>
      <command_interface name="position">
        <param name="min">-0.436332</param>
        <param name="max">1.658063</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="dof_left_shoulder_yaw_02">
      <param name="motor_id">13</param>
      <param name="sign">1</param>
      <param name="zero_offset_deg">0</param>
      <command_interface name="position">
        <param name="min">-1.671886</param>
        <param name="max">1.671886</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="dof_left_elbow_02">
      <param name="motor_id">14</param>
      <param name="sign">1</param>
      <param name="zero_offset_deg">0</param>
      <command_interface name="position">
        <param name="min">-2.478368</param>
        <param name="max">0</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="dof_left_wrist_00">
      <param name="motor_id">15</param>
      <param name="sign">1</param>
      <param name="zero_offset_deg">0</param>
      <command_interface name="position">
        <param name="min">-1.378810</param>
        <param name="max">1.378810</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <!-- ==================== RIGHT LEG ==================== -->

    <joint name="dof_right_hip_pitch_04">
      <param name="motor_id">41</param>
      <param name="sign">1</param>
      <param name="zero_offset_deg">0</param>
      <command_interface name="position">
        <param name="min">-2.216568</param>
        <param name="max">1.047198</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="dof_right_hip_roll_03">
      <param name="motor_id">42</param>
      <param name="sign">1</param>
      <param name="zero_offset_deg">0</param>
      <command_interface name="position">
        <param name="min">-2.268928</param>
        <param name="max">0.209440</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="dof_right_hip_yaw_03">
      <param name="motor_id">43</param>
      <param name="sign">1</param>
      <param name="zero_offset_deg">0</param>
      <command_interface name="position">
        <param name="min">-1.570796</param>
        <param name="max">1.570796</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="dof_right_knee_04">
      <param name="motor_id">44</param>
      <param name="sign">1</param>
      <param name="zero_offset_deg">0</param>
      <command_interface name="position">
        <param name="min">-2.705260</param>
        <param name="max">0</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="dof_right_ankle_02">
      <param name="motor_id">45</param>
      <param name="sign">1</param>
      <param name="zero_offset_deg">0</param>
      <command_interface name="position">
        <param name="min">-0.261799</param>
        <param name="max">1.134464</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <!-- ==================== LEFT LEG ==================== -->

    <joint name="dof_left_hip_pitch_04">
      <param name="motor_id">31</param>
      <param name="sign">1</param>
      <param name="zero_offset_deg">0</param>
      <command_interface name="position">
        <param name="min">-1.047198</param>
        <param name="max">2.216568</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="dof_left_hip_roll_03">
      <param name="motor_id">32</param>
      <param name="sign">1</param>
      <param name="zero_offset_deg">0</param>
      <command_interface name="position">
        <param name="min">-0.209440</param>
        <param name="max">2.268928</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="dof_left_hip_yaw_03">
      <param name="motor_id">33</param>
      <param name="sign">1</param>
      <param name="zero_offset_deg">0</param>
      <command_interface name="position">
        <param name="min">-1.570796</param>
        <param name="max">1.570796</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="dof_left_knee_04">
      <param name="motor_id">34</param>
      <param name="sign">1</param>
      <param name="zero_offset_deg">0</param>
      <command_interface name="position">
        <param name="min">0</param>
        <param name="max">2.705260</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="dof_left_ankle_02">
      <param name="motor_id">35</param>
      <param name="sign">1</param>
      <param name="zero_offset_deg">0</param>
      <command_interface name="position">
        <param name="min">-1.134464</param>
        <param name="max">0.261799</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

  </ros2_control>

</robot>
